<!DOCTYPE html>
<html>
    <head>
        <title>help</title>
        <link rel="icon" href="./img/weather.png">
         </head>
        <body>

<link rel="stylesheet" href="./css/styles.css">
<div class="main-content">
    {{>header}}
    <p>For more help please send email on {{email}}</p>
    </div>
{{>footer}}

</h1>


        </body>

   
</html>